# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Docker
.docker/

# OS Specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
